* {
    font-size: 24px;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 20px;
}

button {
    width: 200px;
    height: 50px;
}

.articleModels {
    background-color: gray;
    width: 35rem;
    display: flex;
    flex-direction: inherit;
    margin: 15px;
    border-radius: 30px;
    border: 3px solid black;
    align-items: center;
}

.divContainer {
    margin: 20px;
}

.imgApi {
    margin: 20px;
    width: 300px;
    height: 300px;
}


.status{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-transform: capitalize;
    gap: 20px;
}


.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .green {
    background-color: green;
  }
  
  .red {
    background-color: red;
  }